*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0a0a0a;
  color: #f0f0f0;
  font-family: 'Barlow', sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #1e1e1e;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b5f000;
}
